@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');


html {
    box-sizing: border-box;
    color: #FFF800;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }  

body {
    background-color: #2773CF;
    font-family: 'Merriweather', serif;
    margin: 0;
}


/* || Flex Setup and Styling */

.flex-container {
    background-color: #3D7FCF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* || Grid Setup and Styling */
.container {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-template-rows: repeat(4, minmax(100px, 1fr));
}

h1 {
    font-family: 'Josefin Slab', serif;
    grid-area: header;
    grid-area: 1 / 2 / 1 / 6;
    text-align: center;
    
    line-height: 2rem;
}

article.prior {
    grid-area: 2 / 2 / 2 / 6;
    text-align: center;
    outline: 1px grey solid;
}

article.action {
    grid-area: 3 / 2 / 3 / 6;
    text-align: center;
    outline: 1px grey solid;
}


/* || Link Styling */

a:link {

}

a:visited {

}

a:focus {
    outline: 2px solid #CF51A7;
}

a:hover {

}

a:active {

}

/* || Image Styling */

article img {
    width: 200px;
    height: 200px;
}